body {
	padding-top: 5rem;
	overflow-x: hidden;
	overflow-y: hidden;
}
.space_up {
	margin-right: 0.5rem;
}
.fc-gray {
	margin-right: 1rem;
	color: #fff;
}
#textbox {
    height: 86vh;
    resize: none;
}
#parced-data {
	height: 86vh;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: .25rem;
	overflow-y: scroll;
	overflow-x: hidden;
}
#main{
	position: fixed !important;
	right: 35px;
	bottom: 30px;
	border-radius: 50%;
}

#presentation{
  width: 480px;
  height: 120px;
  padding: 20px;
  margin: auto;
  background: #FFF;
  margin-top: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
  transition: all 0.3s; 
  border-radius: 3px;
}

#presentation:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s;
  transform: translateZ(10px);
}

#floating-button{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #db4437;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
}

.plus{
  color: white;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 55px;
  font-size: 38px !important;
  margin-top: 8px; 
  animation: plus-out 0.3s;
  transition: all 0.3s;
}

#container-floating{
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 30px;
  right: 30px;
  z-index: 50px;
}

#container-floating:hover{
  height: 400px;
  width: 90px;
  padding: 30px;
}

#container-floating:hover .plus{
  animation: plus-in 0.15s linear;
  animation-fill-mode: forwards;
}

.edit{
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  display: block;
  right: 0;
  padding: 0;
  opacity: 0;
  margin: auto;
  line-height: 65px;
  transform: rotateZ(-70deg);
  transition: all 0.3s;
  animation: edit-out 0.3s;
  margin-left: 12px; 
  margin-top: 7px; 
  font-size: 38px !important; 
  color: #FFF;
}

.import {
  position: absolute;
  margin-left: 4px;
  line-height: 65px;
  font-size: 38px !important; 
  color: #FFF;
}

.contact {
  position: absolute;
  text-decoration: none !important;
  margin-left: 10px;
  line-height: 65px;
  font-size: 38px !important; 
  color: #FFF;
}

#container-floating:hover .edit{
  animation: edit-in 0.2s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes edit-in{
    from {opacity: 0; transform: rotateZ(-70deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}

@keyframes edit-out{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(-70deg);}
}

@keyframes plus-in{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(180deg);}
}

@keyframes plus-out{
    from {opacity: 0; transform: rotateZ(180deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}

.nds{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  z-index: 300;
  transform:  scale(0);
  cursor: pointer;
}

.nd1{
  background: #d3a411;
  right: 40px;
  bottom: 120px;
  animation-delay: 0.2s;
    animation: bounce-out-nds 0.3s linear;
  animation-fill-mode:  forwards;
}

.nd3{
  background: #3c80f6;
  right: 40px;
  bottom: 180px;
  animation-delay: 0.15s;
    animation: bounce-out-nds 0.15s linear;
  animation-fill-mode:  forwards;
}

@keyframes bounce-nds{
    from {opacity: 0;}
    to {opacity: 1; transform: scale(1);}
}

@keyframes bounce-out-nds{
    from {opacity: 1; transform: scale(1);}
    to {opacity: 0; transform: scale(0);}
}

#container-floating:hover .nds{
  
  animation: bounce-nds 0.1s linear;
  animation-fill-mode:  forwards;
}

#container-floating:hover .nd3{
  animation-delay: 0.08s;
}

.letter{
  font-size: 23px;
  font-family: 'Roboto';
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  line-height: 40px;
}

.reminder{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  line-height: 40px;
}

.profile{
  border-radius: 50%;
  width: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 20px;
}

.fullta {
	resize: none;
    width: 100%;
    height: 75vh;
    border-color: #52bce6 !important;
}

.modal-dialog {
    max-width: 700px;
    margin: 30px auto;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}

/* Here comes Plesk KCS CSS kit. KIT w/ it */
@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-Regular.woff2') format("woff2");
}

@font-face {
    font-family: "Fira Mono";
    src: url('../fonts/FiraMono-Regular.woff2') format("woff2");
}

p {
	word-break: break-all;
}

/*Bash style by atumanov*/
p.bash {
    background: url('../assets/bash_gray.png') no-repeat ;
    /* display: block; */
    padding: 27px 5px 0 5px;
    background-color: #f5f5f5;
    border-radius: 3px;
    font-size: 14px;
    color: #333333;
/*    margin: -5px!mportant; */
  border: 1px solid #dbdbdb;
  min-width:10%;
  max-width:90%;
  font-family: 'Fira Mono';
}

/*windows shell style*/
p.winshell {
    /*background: url('https://p14.zdassets.com/hc/theme_assets/1061516/200198925/cmd_2.png') no-repeat ;*/
background:url('../assets/cmd_1200.png') no-repeat;
    background-color:black;
    padding: 27px 5px 0 5px;
    border-radius: 1px;
    color: white;
    font-size:14px;
    font-family: 'Fira Mono';
    max-width:90%;
    border: 1px solid #000000;
    border-radius: 2px;
}

p.powershell {
background:url('../assets/powershell_1200.png') no-repeat;
    background-color:#012456;
    padding: 27px 5px 0 5px;
    border-radius: 1px;
    color: white;
    font-size:14px;
    font-family: 'Fira Mono';
    min-width:10%;
    max-width:90%;
    border: 1px solid #012456;
    border-radius: 2px;
}

/* Plesk errors style*/
p.pleskerr {
      background: url('../assets/plesk_error.png') no-repeat ;
    /* display: block; */
  background-color:#F4B3B3;
  padding: 7px 10px 5px 31px;
  border-radius: 2px;
  color: black;
  font-size:14px;
  flex-basis: auto;
  border: 1px solid lightgray;
  border-color:#F4B3B3; 
  min-width:10%;
  max-width:90%;
  font-family: 'Open Sans', arial;
}

p.pleskwarn {
  background: url('../assets/plesk_warning.png') no-repeat ;
    /* display: block; */
  background-color:#FDD896;
  padding: 7px 10px 5px 31px;
  border-radius: 2px;
  color: black;
  font-size:14px;
  flex-basis: auto;
  border: 1px solid;
  border-color:#FDD896; 
  min-width:10%;
  max-width:90%;
  font-family: 'Open Sans', arial;
}

p.pleskinfo {
 background-color:#F9F9F9;
  padding: 0px 5px 0 5px;
  border-radius: 2px;
  color: black;
  font-size:14px;
/*    margin: -5px!important; */
  border: 1px solid lightgray;
  min-width:10%;
  max-width:90%;
 /* font-family: 'Open Sans', arial;*/
}

p.configtext {
  background-color:#F9F9F9;
  padding: 0px 5px 0 5px;
  border-radius: 2px;
  color: black;
  font-size:14px;
/*    margin: -5px!important; */
  border: 1px solid lightgray;
  min-width:10%;
  max-width:90%;
  font-family: 'Fira Mono';
}

p.warning {
  background-color:#F4B3B3;
  border: #F4B3B3 solid 1px;
  padding:4px;
  border-radius:2px;
  color:black;
  min-width:10%;
  max-width:90%;
  text-align:left;
}

p.note {
  background-color:#52bce6;
  border: #52bce6 solid 1px;
  padding:4px;
  border-radius:2px;
  color:black;
  min-width:10%;
  max-width:90%;
  text-align:left;
}

p.note a {
  color:white;
}

/* Redesign of default pre and code items */

pre {
 background-color:#F9F9F9;
 padding: 0px 5px 0 5px;
 border-radius: 2px;
 color: black;
/*    margin: -5px!important; */
 font-family: 'Fira Mono';
 border: 1px solid lightgray;
 min-width:10%;
 max-width:90%;
}

code {
 color:black;
 background-color:transparent;
 font-family:'Fira Mono';
 /*font-size:14px!important;*/
}