body {
	padding-top: 5rem;
	overflow: scroll;
	overflow-x: hidden;
}
.space_up {
	margin-right: 0.5rem;
}
.fc-gray {
	margin-right: 1rem;
	color: #fff;
}
#textbox {
    height: 86vh;
    resize: none;
}
#parced-data {
	height: 86vh;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: .25rem;
}
#main{
	position: fixed !important;
	right: 35px;
	bottom: 30px;
	border-radius: 50%;
}